@import "src/theme/variables";

.chat-page {
  height: 100vh;
  .header {
    border-bottom: 1px solid $border-color;
  }
  .contact-item {
    border-bottom: none;
  }
}

.chat-page__list {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: auto;
}

.chat-page__body {
  height: calc(100% - 64px - 56px);
}

.chat-page__input {
  position: fixed;
  bottom: 0;
}