@import "src/theme/variables";

.chat-page__header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: $header-background;
}

.chat-page__list {
  display: flex;
  flex-direction: column;
}

.chat-page__input {
  position: sticky;
  bottom: 0;
}