@import "variables";
@import "theme";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  // theming
  @include theme-aware('background-color', 'background');
  @include theme-aware('color', 'text-color');

  svg {
    @include theme-aware('fill', 'text-color');
  }
  a {
    text-decoration: none;
    @include theme-aware('color', 'text-color');
  }
  input {
    @include theme-aware('color', 'text-color');
  }
}

.d-flex {
  display: flex;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
}