$header-height: 56px;

$gray-color: #808080;
$border-color: #e8e8e8;
$message-color: #d6d6d6;
$message-color-self: #efefef;
$input-background: white;
$header-background: white;
$blue-color: #3c79ff;
$light-background: white;
$item-focused: #efefef;

$dark-background: #121212;
$dark-border-color: #404040;
$dark-item-focused: #181818;
$dark-message-color: #282828;
$dark-message-color-self: #646464;