@import "src/theme/variables";

$message-max-width: 150px;

.message {
  padding: 8px;
  background-color: $message-color;
  border-radius: 16px;
  width: fit-content;
  max-width: $message-max-width;
  margin: 4px 16px;

  &_self {
    background-color: $message-self-color;
  }

  &__wrapper {
    &_self {
      align-self: flex-end;
    }
  }
  &__date {
    font-size: 14px;
    color: $gray-color;
    margin: 0 16px;
  }
}